
body {
    padding-top: 80px;
}
h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
div.bold {
   font-weight: 900;
}
div.left-image {
    display:inline-block;
    vertical-align:top;
    width:30%;
}
div.right-text {
    display:inline-block;
    vertical-align:top;
    width:60%
}
span.bold {
   font-weight: 900;
}
#trailer .modal-dialog {
    margin-top: 200px;
    width: 640px;
    height: 480px;
}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.movie-tile:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}
.box-image {
    width: 100px; 
    height: 155px;
    box-shadow: 3px 3px #a2a2a2
}
.box-shadow {
    box-shadow: 3px 3px #a2a2a2
}
.storyline {
    max-height:75px;
    height:75px;
    overflow-y:hidden;
    line-height:1.0em;
    font-size:0.85em;
}
